:root {
    --celeste: #91d5e2;
    --verde-agua: #7fcbae;
    --verde: #bed630;
    --naranja: #f6921e;
    --magenta: #ee5b99;
    --verde-oscuro: #77bf43;
    --verde-oscuro-op: 120, 191, 69;
    --gris: #777372;
    --gris-op: 119, 115, 114;
}

* {
    font-family: "Istok Web", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

p {
    margin: 0;
}

nav {
    padding: 8px 40px !important;
    width: 100%;
    display: flex;
    justify-content: space-around;
    box-shadow: 3px 0px 10px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 3px 0px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 3px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

nav img {
    max-height: 75px;
    width: 100%;
}

nav .navbar-collapse {
    display: flex;
    justify-content: flex-end;
}

nav .navbar-nav {
    gap: 20px;
}

nav .dropdown-menu.show {
    position: absolute !important;
    top: 100%;
    right: 0;
    left: auto;
    z-index: 1000;
}

nav .dropdown-menu.show a {
    display: flex !important;
    align-items: center;
    gap: 8px;
    color: var(--gris);
}

nav .dropdown-menu.show i {
    padding: 0 1px;
}

/* Imagen Ciudad */

.imagen-ciudad {
    position: relative;
    padding: 50px 0;
    width: 100%;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("/assets/img/ciudad-cortada.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.imagen-ciudad::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.texto-imagen {
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    color: white;
    font-size: 30px;
    font-weight: 900;
}

.subtexto-imagen {
    width: 50%;
    position: relative;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    text-align: center;
}

/* Contenedor Requisitos */

.contenedor-requisitos {
    width: 55%;
    display: flex;
    flex-direction: column;
    padding-top: 25px;
}

.caja-inscripcion {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(var(--verde-oscuro-op), 0.2);
    padding: 20px;
    gap: 20px;
    border-radius: 10px;
    border: 3px solid var(--verde-oscuro);
}

.caja-inscripcion h3 {
    font-size: 20px;
    font-weight: bold;
    text-align: start;
    padding: 0;
}

.contenenedor-flex-inscripcion {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Linea Horizontal */

.linea-horizontal {
    border-top: 1px solid #000;
    width: 100%;
    margin: 25px 0;
}

/* Accordion */

.accordion {
    padding-bottom: 50px;
}

.accordion-button.collapsed {
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    background-color: rgba(var(--verde-oscuro-op), 0.2);
    border: 2px solid var(--verde-oscuro);
    box-shadow: none;
}

/* Sección en el index para iniciar y editar registro*/

.iniciar-registro, .editar-registro {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    padding: 30px;
}

.editar-registro {
    flex-direction: row-reverse;
}

.container-img,
.container-registro {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.container-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-registro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.container-registro h1 {
    font-size: 24px;
    font-weight: bold;
    color: grey;
    font-weight: 200;
}

.container-registro span {
    font-size: 20px;
    font-weight: bold;
    color: var(--gris);
    font-weight: 200;
}

.container-registro a {
    text-decoration: none;
    font-size: 20px;
    background-color: var(--verde-oscuro);
    border: none;
    height: 100%;
    color: white;
    border-radius: 5px;
    padding: 8px 20px;
}

.container-registro a:hover {
    cursor: pointer;
    background-color: var(--verde);
}

/* Formulario */

.formulario {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.container-formulario-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icono-svg {
    width: 80%;
    height: 100%;
    fill: var(--gris);
}

.container-formulario {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.container-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container-form form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.container-form label {
    font-size: 24px;
    color: var(--gris);
}

.container-form form input {
    border: none;
    padding: 8px;
    font-size: 16px;
    box-shadow: 3px 10px 18px -10px rgba(0, 0, 0, 0.2);
}

.container-form form input:focus {
    border-bottom: 1px solid var(--gris);
}

/* Formulario de checkbox */

.container-formulario-label form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formulario-label {
    padding: 8px 0;
}

.container-formulario-label form label {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
}

.container-formulario-label form input {
    width: 20px;
    height: 20px;
    border-bottom: 1px solid var(--gris);
}

.container-formulario-label form input:hover {
    cursor: pointer;
}

.container-formulario form input:focus {
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    box-shadow: 3px 10px 18px -10px rgba(0, 0, 0, 0.2);
}

.container-formulario form input::placeholder {
    color: rgba(var(--gris-op),0.5);
}

/* Contenedor Botones */

.contenedor-botones {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

.contenedor-botones a {
    text-decoration: none;
}

.button, .button-form {
    background-color: var(--verde-oscuro);
    border: none;
    color: white;
    border-radius: 2px;
    padding: 8px 20px;
}

.button-form:hover, .button:hover {
    cursor: pointer;
    background-color: var(--verde);
}

/* Mensaje de alerta */

.alerta {
    padding: 10px 20px;
    background-color: rgb(247, 230, 230);
    border-radius: 3px;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1em;
    gap: 10px;
}

.icono-alerta-svg {
    height: 2em;
    fill: red;
}

/* Responsive */

@media screen and (max-width: 767px) {
    nav {
        padding: 20px 30px !important;
    }

    .subtexto-imagen {
        display: none;
    }

    .contenedor-requisitos {
        width: 75%;
    }

    .caja-inscripcion {
        width: 100%;
    }

    .container-formulario {
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
    }

    .container-formulario-img {
        height: 20%;
    }

    .icono-svg {
        width: 100%;
        height: 70%;
    }

    .container-form label {
        font-size: 20px;
    }

    .contenedor-botones {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        gap: 25px;
    }

    .contenedor-botones a {
        width: 100%;
        text-align: center;
    }

    .contenedor-botones button {
        width: 100%;
    }

    .iniciar-registro {
        flex-direction: column;
    }

    .editar-registro {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-img, .container-registro{
        width: 100%;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container-registro span {
        text-align: center;
    }

    .container-registro button {
        width: 100%;
    }
}