:root {
    --celeste: #91d5e2;
    --verde-agua: #7fcbae;
    --verde: #bed630;
    --naranja: #f6921e;
    --magenta: #ee5b99;
    --verde-oscuro: #78bf45;
    --verde-oscuro-op: 120, 191, 69;
    --gris: #777372;
}

* {
    font-family: "Istok Web", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

nav {
    padding: 8px 40px !important;
    width: 100%;
    display: flex;
    justify-content: space-around;
    box-shadow: 3px 0px 10px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 3px 0px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 3px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

nav img {
    max-height: 75px;
    width: 100%;
}
nav .navbar-collapse {
    display: flex;
    justify-content: flex-end;
}
nav .navbar-nav {
    gap: 20px;
}
nav .dropdown-menu.show {
    position: absolute !important;
    top: 100%;
    right: 0;
    left: auto;
    z-index: 1000;
}
nav .dropdown-menu.show a {
    display: flex !important;
    align-items: center;
    gap: 8px;
    color: var(--gris);
}
nav .dropdown-menu.show i {
    padding: 0 1px;
}

/* */

.imagen-ciudad {
    position: relative;
    padding: 50px 0;
    width: 100%;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("/assets/img/ciudad-cortada.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.imagen-ciudad::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.texto-imagen {
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    color: white;
    font-size: 30px;
    font-weight: 900;
}

.subtexto-imagen {
    width: 50%;
    position: relative;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    text-align: center;
}

/* */

.contenedor-requisitos {
    width: 55%;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.caja-inscripcion {
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: rgba(var(--verde-oscuro-op), 0.2);
    padding: 20px;
    gap: 20px;
    border-radius: 10px;
    border: 3px solid var(--verde-oscuro);
}

.caja-inscripcion h3 {
    font-size: 20px;
    font-weight: bold;
    text-align: start;
    padding: 0;
}

.contenedor-flex-inscripcion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-direction: column;
}

.oculto {
    display: none;
}

.leer-mas,
.leer-menos {
    cursor: pointer;
    color: blue;
    display: none;
    padding-bottom: 0;
}

/* */

.linea-horizontal {
    border-top: 1px solid #000;
    width: 100%;
    padding-bottom: 25px;
}

.texto-requisitos {
    color: var(--gris);
    font-size: 16px;
    line-height: 1.2;
}

/* */

.grid-iconos {
    grid-template-columns: 1fr 1fr 1fr;
}

/* */

.contenedor-botones {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 25px;
}

.contenedor-botones button {
    background-color: var(--verde-oscuro);
    border: none;
    width: 30%;
    height: 35px;
    color: white;
    border-radius: 2px;
    padding: 8px 20px;
}

.contenedor-botones button:hover {
    cursor: pointer;
    background-color: var(--verde);
}

.contenedor-botones button a {
    font-size: 16px;
    color: white;
    text-decoration: none;
}

/* */

.accordion {
    padding-bottom: 50px;
}

.accordion-button:not(.collapsed) {
    background-color: rgba(var(--verde-oscuro-op), 0.5);
}

/* */

@media screen and (max-width: 768px) {
    nav {
        padding: 20px 30px !important;
    }

    .subtexto-imagen {
        display: none;
    }

    .contenedor-requisitos {
        width: 75%;
    }

    .caja-inscripcion i {
        display: none;
    }
}
